

<div class="row">
  <div class="col-6"><h1>Products</h1></div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/products" type="button" class="btn btn-primary align-self-center"></a>Add user</a>
  </div>
</div>


<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Stock</th>
      <th scope="col">Precio</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => {%>
      <th scope="row"><%=product.id%></th>
      <td><%product.name%></td>
      <td><%product.stock%></td>
      <td><%product.price%></td>
    <%});%>

  </tbody>
</table>